<div class="jumbotron"></div>

<div class="main-content">
  <div class="contentbox">
    <h2>What is Tera.tf?</h2>
    <p>TeraGaming was created by TerabyteNation, and it's website is currently managed by
      <a href="http://www.steamcommunity.com/id/TerabyteNation">TerabyteNation</a>,
      <a href="http://www.steamcommunity.com/id/eqazec">eqazec</a>, and
      <a href="http://www.steamcommunity.com/id/redjazz96/">redjazz96</a>.</p>
    <p>The goal of this website is to combine casual and competitive Team Fortress 2 gaming experiences along with trading. </p>
  </div>

  <div class="contentbox">
    <h2>Development Information</h2>
    <p>This website was written in Ruby, implementing the Rails framework. It utilizes Steam OpenID for functions such as the login page, and also utilizes the SteamAPI for features such as backpack viewing, etc.</p>
  </div>

  <div class="staff-profile">
    <h3>Main Contributors</h3>
    <a href="http://www.steamcommunity.com/id/eqazec"><img src="http://steamsignature.com/status/english/76561198077246489.png"/></a>
    <a href="http://www.steamcommunity.com/id/terabytenation"><img src="http://steamsignature.com/status/english/76561198044842961.png"/></a>
    <a href="http://www.steamcommunity.com/id/redjazz96"><img src="http://steamsignature.com/status/english/76561198025418738.png"/></a>
  </div>

  <div class="contentbox">
    <h2>Point System</h2>
    <p>We love to reward users for contributing and interacting with the community. Therefore, we have developed a point system that will measure your community participation. You can gain points by using the features that this site provides, which include: <i>insert community activities here</i>. Additionally, admins can reward you up to 10 points if they feel you deserve it. Note that there is no other way to get points on this website other than participating. You cannot buy or trade for them. These points are usable, and can be spent on Tera.TF, specifically: you can buy Team Fortress 2 items from our trading bots, <i>insert other activities here</i>.</p>
  </div>
  </div>
