<div class="jumbotron">
  <h1>About</h1>
  <h2>Tera.tf Staff and Development Team</h2>
  <p>TeraGaming was created by TerabyteNation, and is currently managed by
    <a href="http://www.steamcommunity.com/id/TerabyteNation">TerabyteNation</a>
    <a href="http://www.steamcommunity.com/id/eqazec">eqazec</a> and
    <a href="http://www.steamcommunity.com/id/redjazz96/">redjazz96</a></p>
  <p>The goal of this website is to combine casual and competitive Team Fortress 2 gaming experiences with trading. </p>

  <h2>Development Information</h2>
  <p>This website was written in Ruby, implementing the Rails framework. It utilizes Steam OpenID for functions such as the login page, backpack viewing, trading, etc. It's completely open source, under the MIT License, and is available in its entirety on GitHub: </br></br>
  	<a href="http://github.com/terabytenation/tera-tf">GitHub Repository</a></p>

  <h2>Point System</h2>
  <p>We love to reward users for contributing and interacting with the community. Therefore, we have developed a point system that will measure your community participation. You can gain points by using the features that this site provides, which include: <i>insert community activities here</i>. Additionally, admins can reward you up to 10 points if they feel you deserve it.</p>
</div>
