<div class="jumbotron">
    <h1>Frequently Asked Questions</h1>
</div>

<div class="main-content">
  <div class="FAQ">
    <h4>Q: Where can I find a rules list for Tera.TF?</h4>
    <p>A: After you've completed the first time agreement, you can find our rules on the <a href="/page/rules">Rules</a> page.</p>
    <h4>Q: Can I be an admin or moderator on the TF2 servers, forums, or website?</h4>
    <p>A: We are not taking applications for TF2 server staff; however, we do take applications for site and forum moderators <a href="#">here.</a></p>
    <h4>Q: Who is part of the Tera.TF staff?</h4>
    <p>A: The list of admins and moderators for our TF2 servers can be found under the <a href="/page/servers">Server Information</a> page. Website and forum admins can be found on the <a href="/page/about">About</a> page.</p>
    <h4>Q: What measures are taken to keep my account safe on Tera.TF?</h4>
    <p>A: The developers and staff at Tera.TF are regular traders and players, so we see what happens with phishing and other types of scamming quite frequently. We take this very seriously, and we have several measures in place to help with the protection of your account, however, this does guarantee your safety.</p>
    <h4>Q: Does Tera.TF offer a support system?</h4>
    <p>A: Yes. Tera.TF admins and the support team will frequently check issues, and we will try to help you out. Simply visit our <a href="/page/support">support page</a> to create a ticket, and someone will be assigned to help you.</p>
   </div>
</div>
