<div class="jumbotron"></div>

<div class="main-content">
  <div class="FAQ">
    <h2>FAQ</h2>
    <h4>Q: Where can I find a rules list for Tera.TF?</h4>
    <p>A: After you've completed the first time agreement, you can find our rules on the <a href="/page/rules">Rules</a> page.</p>
    <h4>Q: What do you base the item prices in the trading section on?</h4>
    <p>A: It's mostly up to the community, as in, what the most acceptable price is at that time for the specific item.</p>
    <h4>Q: Can I be an admin or moderator on the TF2 servers, forums, or website?</h4>
    <p>A: We are not taking applications for TF2 server staff; however, we do take applications for forum moderators here: <i>insert forum moderator application link here.</i></p>
    <h4>Q: Who are the admins and moderators?</h4>
    <p>A: The list of admins and moderators for our TF2 servers can be found under the <a href="/page/servers">Server Information</a> page. Website and forum admins can be found on the <a href="/page/about">About</a> page.</p>
    <h4>Q: What do my donations to TeraGaming go toward?</h4>
    <p>A: All money donations are used to keep our servers up and running.</p>
   </div>
</div>
