<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Welcome to Tera.TF!</h1>
  <p>Changing the way you game.</p>
  <a class="button" href="/about">Learn more &raquo;</a>
</div>
