<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Welcome to Tera.TF!</h1>
  <p>"INSERT MEANINGLESS SLOGAN HERE"</p>
  <%= link_to "Learn more &raquo;".html_safe, page_about_path %>
 </div>

 <div class="main-content">
  <h2>Steam Group Status</h2>
  <a href="http://steamcommunity.com/groups/TerabyteNation"><img src="http://steamsignature.com/group/default/TerabyteNation.png" alt="" title="" /></a>
</div>
