<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Welcome to Tera.TF!</h1>
  <p>TODO: Add Slogan</p>
  <%= link_to "Learn more &raquo;".html_safe, page_about_path %>
 </div>

 <div class="main-content">
  <h2>Tera.TF News</h2>
  <p>TODO: Create stylesheet for news headline and image to go with headlines</p>
</div>
