<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to tera.tf!</h1>
    <p>A community site that will change your gaming experience.</p>
    <a class="btn">Learn more &raquo;</a>
  </div>
</div>
