<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Welcome to Tera.TF!</h1>
  <p>Changing the way you game.</p>
  <%= link_to "Learn more &raquo;".html_safe, page_about_path %>
</div>
