<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Server Information</h1>
</div>

<div class="main-content">
  <div class="contentbox">
    <h2>Server #1</h2>
    <h3>Server #1 Admins</h3>
     <div class="staff-profile">
      <a href="http://www.steamcommunity.com/id/terabytenation"><img src="http://steamsignature.com/status/english/76561198044842961.png"/></a>
      <a href="http://steamcommunity.com/id/MapleTime"><img src="http://steamsignature.com/status/english/76561198073016705.png"/></a>
      <a href="http://steamcommunity.com/profiles/76561198036511368"><img src="http://steamsignature.com/status/english/76561198036511368.png"/></a>
      <a href="http://steamcommunity.com/profiles/76561198012061295"><img src="http://steamsignature.com/status/english/76561198012061295.png"/></a>
      </div>
    <h3>Server #1 Moderators</h3>
     <div class="staff-profile">
      <a href="http://steamcommunity.com/profiles/76561198047958532"><img src="http://steamsignature.com/status/english/76561198047958532.png"/></a>
      <a href="http://steamcommunity.com/id/sawnek"><img src="http://steamsignature.com/status/english/76561198070928025.png"/></a>
      <a href="http://steamcommunity.com/profiles/76561198043410710"><img src="http://steamsignature.com/status/english/76561198043410710.png"/></a>
      <a href="http://steamcommunity.com/id/Sciguymjm"><img src="http://steamsignature.com/status/english/76561198055442516.png"/></a>
      <a href="http://steamcommunity.com/id/Scootabacon/"><img src="http://steamsignature.com/status/english/76561198055366604.png"/></a>
      </div>
    </div>
  </div>

  <div class="main-content">
  <div class="contentbox">
    <h2>Server #2</h2>
    <h3>Server #2 Admins</h3>
     <div class="staff-profile">
      <a href="http://www.steamcommunity.com/id/terabytenation"><img src="http://steamsignature.com/status/english/76561198044842961.png"/></a>
      <a href="http://steamcommunity.com/id/MapleTime"><img src="http://steamsignature.com/status/english/76561198073016705.png"/></a>
      </div>
    </div>
   </div>

<div class="main-content">
  <div class="contentbox">
    <h2>Server #3 - Unusual Trade</h2>
    <h3>Unusual Trade Admins</h3>
     <div class="staff-profile">
      <a href="http://www.steamcommunity.com/id/terabytenation"><img src="http://steamsignature.com/status/english/76561198044842961.png"/></a>
      <a href="http://steamcommunity.com/id/MapleTime"><img src="http://steamsignature.com/status/english/76561198073016705.png"/></a>
      <a href="http://steamcommunity.com/profiles/76561198036511368"><img src="http://steamsignature.com/status/english/76561198036511368.png"/></a>
      <a href="http://www.steamcommunity.com/id/eqazec"><img src="http://steamsignature.com/status/english/76561198077246489.png"/></a>
      <a href="http://steamcommunity.com/id/Sciguymjm"><img src="http://steamsignature.com/status/english/76561198055442516.png"/></a>
      </div>
    </div>
   </div>
