<div class="jumbotron">
    <h1>Privacy Policy</h1>
</div>

<div class="main-content">
  <div class="contentbox">
    <h3>Collection and Usage of Data</h3>
    <p>Tera.TF will never collect your confidential Steam account information, like your password. The only data we collect is your Steam account ID for profile identification. Tera.TF will not sell or distribute any personal information you provide us, however we won't ask for this info at any time.</p>
    <p>However, we can collect information that is public, such as your TF2 backpack information. This data will be used to generate graphs and other statistics only for Tera.TF, however, this data will not publicly be linked to you.</p>

    <h4>Cookies</h4>
    <p>Tera.TF uses cookies to keep accounts logged in on this website, unless the user specifically decides to sign out or clears their cookies. Using cookies also allows us to save your settings that are given to you on Tera.TF.</p>
    <p>We will not use cookies in order to collect data for our own advertising purposes, as we plan to never place advertisements on this website. We will never distribute your cookies to other companies for data collection for advertisements.</p>
    </div>
  </div>
