<div class="jumbotron"></div>

<div class="main-content">
  <div class="FAQ">
    <h2>General Rules</h2>

    <h4>I. Community Code of Conduct</h4>
      <p>A: Users shall not discriminate, harass, threaten, flame, or insult other users.</p>
      <p>B: Users shall not be  discriminated, harassed, threatened, or insulted because of background, race, religion, sexuality, and/or personal beliefs.</p>
      <p>C: Users shall not make an attempt to scam, manipulate, or harm other users.</p>
      <p>D: Users shall not partake in any unlawful activities.</p>
      <p>E: Users shall not openly distribute malicious, NSFW, and/or offensive content.</p>

    <h4>II. Tera.TF</h4>
      <p>A: Users shall not make any attempt to disrupt or destroy any property of Tera.TF.</p>
      <p>B: Users shall not make any attempt to exploit, misuse, or manipulate any of Tera.TF's services.</p>
      <p>C: Users shall not use any form of automation or scripting on any of Tera.TF's services.</p>

    <h4>III. Bots</h4>
      <p>A: Users shall not make any attempt to exploit or manipulate any of Tera.TF's bots.</p>
      <p>B: Users shall not make any attempt to impersonate any of Tera.TF's bots.</p>
      <p>C: Any bugs that users encounter while trading or using the bot service shall be reported immediately to the Tera.TF staff.</p>

<<<<<<< HEAD
    <h3>Final Terms</h3>
      <p>Any violation of the above terms will be punished to the maximum extent permissible under Tera.TF's disciplinary guidelines. In the event that disciplinary action requires the termination of your access to our services, all terms of service regarding liability shall continue to apply to you. The failure of Tera.TF's staff to enforce any of the rules will not be deemed a waiver of the violation. In the event that an offense commited against Tera.TF or any of its affiliates does not merit any type of disciplinary action that is outlined in the disciplinary guide, the executive council of staff members will meet to discuss the necessary actions to be taken.</p>

    <h4>Changes in Terms</h4>
      <p>We may alter any of the previously stated terms at any time. We will post a notice if a change occurs to the terms of service. However, the presense or absense of a notice does not define when changes are taken into effect. Any changes made to the Terms of Service will have approximately 24 hours before they are officially enforced. This is to give users ample time to read to agree to the changes, or discontinue the use of any of Tera.TF's services, should the need arise.</p>
=======
   <h3>Final Terms</h3>
      <p>Any violation of the above terms will be punished to the maximum extent permissible under Tera.TF's disciplinary guidelines. In the event that disciplinary action requires the termination of your access to our services, all terms of service regarding liability shall continue to apply to you. The failure of Tera.TF's staff to enforce any of the rules will not be deemed a waiver of the violation. In the event that an offence committed against Tera.TF or any of its affiliates does not merit any type of disciplinary action that is outlined in the disciplinary guide, the executive council of staff members will meet to discuss the necessary actions to be taken. By clicking ACCEPT, you are agreeing that you understand and accept the terms stated above.</p>

  <h4>Changes in Terms</h4>
      <p>We may alter any of the previously stated terms at any time. We will post a notice if a change occurs to the terms of service. However, the presence or absence of a notice does not define when changes are taken into effect. Any changes made to the Terms of Service will have approximately 24 hours before they are officially enforced. This is to give users ample time to read to agree to the changes, or discontinue the use of any of Tera.TF's services, should the need arise.</p>
>>>>>>> edf70b959f02ab6901cd6db75554df9fb1a7bb86

    <h3>Definitions</h3>
      <p><b>Services</b>- Anything that Tera.TF provides to the public, such as game servers, forums, competitive Team Fortress 2, trading bots/listings, community profiles, points, etc.</p>
      <p><b>Unlawful activities</b>- Any sort of activity that violates any law or mandate set forth and maintained under any field of jurisdiction.</p>
      <p><b>NSFW</b>- (Not safe/suitable for work) Content that users may find offensive. Any media that depicts pornographic, profane, and/or violent content.</p>
  </div> 
  </br>
  <div class="jumbotron" style="border-radius: 5px">
    <p style="text-align:center">By clicking ACCEPT, you have agreed that you understand and agree to follow the terms stated above.</p></br>
    <a href="#" style="background-color:#D00021;float:left;color:#f0f0ff;text-shadow: 0 0 0;">DECLINE</a>
    <a href="#" style="background-color:#008000;float:right;color:#f0f0ff;text-shadow: 0 0 0;">ACCEPT</a>
  </div>
</div>

