<div class="jumbotron"></div>

<div class="main-content">
  <div class="FAQ">
    <h2>General Rules</h2>
    <p>This is a general summary of what is expected of you regarding your usage of Tera.tf and its services. For more information, please refer to the full <a href="/page/terms/">Terms and Conditions</a> and <a href="/page/privacy/">Privacy Policy</a>.</p>

    <h4>A. Community Code of Conduct</h4>
      <ol>
        <li> Users shall not discriminate, harass, threaten, flame, or insult other users.</li>
        <li> Users shall not be outwardly judged, discriminated, harassed, threatened, or insulted because of background, gender, race, religion, sexuality, and/or personal beliefs.</li>
        <li> Users shall not express specific ideas with the intention to provoke negative emotions from other users for personal gain.</li>
        <li> Users shall not make an attempt to scam, manipulate, or harm other users.</li>
        <li> Users shall not partake in any unlawful activities.</li>
        <li> Users shall not distribute malicious, NSFW, and/or offensive content through any of Tera.TF's provided services.</li>
      </ol>
    <h4>B. Tera.TF</h4>
      <ol>
        <li> Users shall not make any attempt to disrupt or destroy any property of Tera.TF.</li>
        <li> Users shall not make any attempt to exploit, misuse, or negatively manipulate any of Tera.TF's services.</li>
        <li> Users shall not use any form of automation or scripting on any of Tera.TF's services.</li>
      </ol>

    <h4>C. Bots</h4>
      <ol>
        <li> Users shall not make any attempt to exploit or manipulate any of Tera.TF's bots.</li>
        <li> Users shall not make any attempt to impersonate any of Tera.TF's bots.</li>
      </ol>

    <h3>Disclaimer</h3>
      <p>Tera.TF shall not be held responsible in the case of any losses, damage, and/or destruction done to any user's Steam account and/or inventory due to other users. This includes phising, scamming, etc. However, Tera.TF works to minimize any risk of damage to accounts on this website and punishing those who are sucessful in harming other users.</p>
      <p>Tera.TF will take full responsibility only if losses occur due to the services we provide (i.e. trading bot, points system). Should any damage occur due to our services, it is the responsiblity of the user to properly inform the Tera.TF staff promptly. All issues will be thoroughly investigated, and the user will be fully compensated for damages, provided that the issue is found to be legitimate.</p>

    <h4>Changes in Terms</h4>
      <p>We may alter any of the previously stated terms at any time. We will attempt to post a notice if a change occurs to the terms. However, the presence or absense of a notice does not define when changes are taken into effect. Any changes made to our rules will have approximately 24 hours before they are officially enforced. This is to give users ample time to read to agree to the changes, or discontinue the use of any of Tera.TF's services, should any conflicts arise.</p>

   <h3>User Agreement</h3>
      <p>Any violation of the above terms will be punished to the maximum extent permissible under Tera.TF's disciplinary guidelines. In the event that disciplinary action requires the termination of your access to our services, all terms of service regarding liability shall continue to apply to you. The failure of Tera.TF's staff to enforce any of the rules will not be deemed a waiver of the violation. In the event that an offense commited against Tera.TF or any of its affiliates does not merit any type of disciplinary action that is outlined in the disciplinary guide, the executive council of staff members will meet to discuss the necessary actions to be taken.</p>

    <h3>Definitions</h3>
      <p><b>Services</b>- Anything that Tera.TF provides to the public, such as game servers, forums, competitive Team Fortress 2, trading bots/listings, community profiles, points, etc.</p>
      <p><b>Unlawful activities</b>- Any sort of activity that violates any law or mandate set forth and maintained under any field of jurisdiction.</p>
      <p><b>NSFW</b>- (Not safe/suitable for work) Content that users may find offensive. Any media that depicts pornographic, profane, and/or violent content.</p>
  </div>
  </br>
  <div class="jumbotron" style="border-radius: 5px">
    <p style="text-align:center"><b>By clicking ACCEPT, you are stating that you understand and agree to follow the rules stated above.</b></p></br>
    <a href="#" style="background-color:#D00021;float:left;color:#f0f0ff;text-shadow: 0 0 0;">DECLINE</a>
    <a href="#" style="background-color:#008000;float:right;color:#f0f0ff;text-shadow: 0 0 0;">ACCEPT</a>
  </div>
</div>

