<div class="jumbotron"></div>

<div class="main-content">
  <div class="FAQ">
    <h2>General Rules</h2>
    <h4>I. Community Code of Conduct</h4>
      <p>A: Users shall not discriminate, harrass, threaten, flame, or insult other users.</p>
      <p>B: Users shall not be  discriminated, harrassed, threatened, or insulted because of background, race, religion, sexuality, and/or personal beliefs.</p>
      <p>C: Users shall not make an attempt to scam, manipulate, or harm other users.</p>
      <p>D: Users shall not partake in any illegal activities.</p>

    <h4>II. Tera.TF</h4>
      <p>A: Users shall not make any attempt to disrupt or destroy any property of Tera.TF.</p>
      <p>B: Users shall not make any attempt to exploit, misuse, or manipulate any of Tera.TF's services.</p>
      <p>C: Users shall not use any form of automation or scripting on any of Tera.TF's services.</p>

    <h4>III. Bots</h4>
      <p>A: Users shall not make any attempt to expolit or manipulate any of Tera.TF's bots.</p>
      <p>B: Users shall not make any attempt to impersonate any of Tera.TF's bots.</p>
      <p>C: Any bugs that users encounter while trading or using the bot service shall be reported immediately to the Tera.TF staff.</p>
   </div>
  </div>

