<div class="jumbotron header">
  <h1>Submit Content</h1>
</div>

<div class="main-content">
  <h3>Please upload your file, and then fill out the form below.</h3>

  <p>TODO: Add submission, add form</p>

</div>
