<div class="jumbotron header">
  <h1>Support</h1>
</div>

<div class="main-content">
  <p>If you have a problem, question, or you encounter a bug on Tera.TF, please create a support ticket. We'll try to help you out as best as we can!</p>
  <p>TODO: Add support ticket system (BigHelp)</p>
</div>
