<div class="jumbotron header">
  <h1>Trading</h1>
</div>

<div class="main-content">
  <h3>Please select what you are wanting to do.</h3>

  <table class="trade-items">
  <tr>
    <% [:listings, :stats, :reputation, :forum].each do |type| %>
      <td>
        <a href="#">
          <%= image_tag "100px_#{type}.png" %>
          <span class="item-name"><%= type %></span>
        </a>
      </td>
    <% end %>
  </tr>
  </table>
</div>
