<div class="jumbotron">
  <h1>Trading</h1>
  <h3>Please select the item you will be trading today.</h3>
  <div class="sqr-button">
  	<a href="/page/home"><img src="/assets/100px_scrap.png"></img></br></a>
  </div>
  <div class="sqr-button">
  	<a href="/page/home"><img src="/assets/100px_reclaimed.png"></img></br></a>
  </div>
  <div class="sqr-button">
  	<a href="/page/home"><img src="/assets/100px_refined.png"></img></br></a>
  </div>
  <div class="sqr-button">
  	<a href="/page/home"><img src="/assets/100px_key.png"></img></br></a>
  </div>
  <div class="sqr-button">
  	<a href="/page/home"><img src="/assets/100px_buds.png"></img></br></a>
  </div>
</div>

<div class="contentbox" style="background-color: #FFFFFF;">
  <h2></h2>
</div>

