@import "variables";

.main-content {
  @include fluid-grid(10);
  @include fluid-grid-push(3);
  @include shadow;
  background-color: mix(#f0f0f0, $purple, 90%);
  color: #444;
  margin-top: 5%;
  padding: 20px;
  border-radius: 5px;
  text-shadow: 0 1px 0 white;
  margin-bottom: 5%;

  a {
    //color: #00B4FF;
    color: $link-blue;

    transition: 0.5s all ease-in-out;

    &:hover {
      //color: darken(#00b4ff, 10%);
      color: darken($link-blue, 10%);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @include header-font;
  }

  .staff-profile {

    a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      transition: all 0.5s ease-in-out 0;
    }

    a img {
      border: 0;
      border-radius: 0;
    }
  }
}
