// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

$footer-height: 50px;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  @include main-font;
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  overflow: auto;
  padding-bottom: $footer-height;
  min-height: 100%;
  @include fluid-grid-container;
}

footer {
  position: relative;
  margin-top: -$footer-height;
  height: $footer-height;
  clear: both;
  background-color: $header-background;
  text-align: center;
  color: darken($header-color, 50%);
  font-size: 14px;
  padding-top: (50px - 16px)/2;
  text-shadow: 0 1px 0 black;
  min-width: 960px;

  a {
    color: darken($header-color, 50%);
    text-decoration: none;
    border-bottom: 1px dashed darken($header-color, 50%);
    transition: all 0.5s ease-in-out 0;

    &:hover {
      color: darken($header-color, 25%);
      border-bottom-color: darken($header-color, 25%);
    }
  }
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

header {
  background-color: $header-background;
  min-width: 960px;
  @include clearfix;
  @include fluid-grid(16);
  @include alpha;
  @include omega;
  @include shadow;
  width: 100%;
  text-shadow: 0 2px 0 black;


  div.content {
  }

  h2 {
    @include header-font;
    display: inline-block;
    color: $header-color;
    @include fluid-grid(2);
    font-size: 24px;
    margin: {
      top: 20px;
      bottom: 20px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    @include fluid-grid(10);

    a {
      display: inline-block;
      color: $header-color;
      text-decoration: none;
      text-align: center;
      $number-of-elements: 6;
      @include fluid-grid(16/$number-of-elements);
      transition: all 0.5s ease-in-out 0;
      padding: {
        top: 25px;
        bottom: 25px;
      }

      &:hover {
        color: $purple;
        text-shadow: 0 3px 0 #111;
      }

      li {
        display: inline;
        @include header-font;
      }
    }
  }

  span.user-info {
    margin: 23px 0;
    text-align: center;
    @include fluid-grid(4);
    height: 26px;
    color: $header-color;

    a { @include clearfix; height: 100%; }

    a img {
      border: 0;
      border-radius: 0;
    }
    img {
      height: 100%;
    }
  }
}

.sqr-button {
  @include fluid-grid(0);
  @include fluid-grid-push(0);
  @include shadow;
  background-color: #969696;
  color: #444;
  margin-top: 5%;
  text-shadow: 0 1px 0 white;

  a img {
    border: 0;
    border-radius: 0;
  }

  a {
    background-color: #969696;
    text-decoration: none;
    padding: 15px;

    text-shadow: 0 1px 0 white;
    transition: all 0.1s linear 0;
    display: inline-block;
    color: #F0F0F0;
    text-align: center;
    transition: all 0.1s ease-in-out 0;

    &:hover {
      background-color: darken($purple, 6%);
    }

    &:active {
      box-shadow: 0 1px darken($purple, 25%);
    }
  }
}


