@import "variables";

.main-content {
  table.trade-items {
    width: 100%;

    td a {
      @include shadow;
      background-color: rgba(0, 0, 0, 0.05);
      text-shadow: 0 1px 0 #ddd;
      border-radius: 4px;
      display: block;
      text-align: center;

      @include main-font;
      text-shadow: 0 1px 0 $semitransparent;
      padding: 5px;
      text-decoration: none;
      transition: 0.5s all ease-in-out;

      &:hover {
        color: $purple;
        @include shadow-active;
      }

      span.item-name {
        display: block;
      }
    }
  }
}
